.c9/
.classpath
.DS_Store
.env
.env.*
.grunt
.idea
.lock-wscript
.next
.npmrc
.pnp.*
.project
.settings/
.vscode
.vscode/*
.yarn/*
*.launch
*.log
*.pid
*.seed
*.sublime-workspace
/.idea
/.nyc_output
/.sass-cache
/.tmp
/connect.lock
/coverage
/dist
/dist-server/*
/libpeerconnection.log
/libs/graphql/src/lib/generated
/libs/graphql/src/lib/generated-2
/out-tsc
/postgres*
/prisma/generated
/public
/typings
/uploads
build/Release
coverage
dist
lib-cov
logs
node_modules
npm-debug.log
npm-debug.log*
pids
src/**/*.js
src/**/*.js.map
test/**/*.js
test/**/*.js.map
testem.log
Thumbs.db
tmp
typings/
yarn-error.log
!.env.development
!.env.test
!.vscode/extensions.json
!.vscode/launch.json
!.vscode/settings.json
!.vscode/tasks.json
!.yarn/patches
!.yarn/plugins
!.yarn/releases
!.yarn/sdks
!.yarn/versions
